<template>
  <canvas ref="chart" height="200"></canvas>
</template>
<script>
import ChartMixin from './ChartMixin';

export default {
  name: 'BarChart',
  mixins: [ChartMixin],
  mounted() {
    this.config.type = 'horizontalBar';
    this.init();
  },
};
</script>
