<template>
  <canvas ref="chart" height="200"></canvas>
</template>
<script>
import ChartMixin from './ChartMixin';

export default {
  name: 'LineChart',
  mixins: [ChartMixin],
  mounted() {
    this.config.type = 'line';
    this.config.data.datasets = this.config.data.datasets.map((ds) => {
      const dataset = ds;
      dataset.fill = false;
      [dataset.borderColor] = dataset.borderColor;
      dataset.borderWidth = 3;
      return dataset;
    });
    this.init();
  },
};
</script>
