<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <ul>
      <li>
        <a href='#' @click="changeType('BarChart')">Bar Chart</a>
      </li>
      <li>
        <a href='#' @click="changeType('HorzBarChart')">Horz Bar Chart</a>
      </li>
      <li>
        <a href='#' @click="changeType('LineChart')">Line Chart</a>
      </li>
      <li>
        <a href='#' @click="changeType('AreaChart')">Area Chart</a>
      </li>
    </ul>
    <div class="dashboard-columns">
      <div class="dashboard-column is-3">
        <div class="chart-board">
          <component :is="chartType"
            legend-label="happiness"
            :datasets="chartData"
            :labels="chartLabels"></component>
        </div>
      </div>
      <div class="dashboard-column is-3">
        <div class="chart-board">
          <area-chart
            :datasets="chartData"
            :labels="chartLabels"></area-chart>
        </div>
      </div>
      <div class="dashboard-column is-3">
        <div class="chart-board">
          <component :is="chartType"
            legend-label="happiness"
            :datasets="chartData"
            :labels="chartLabels"></component>
        </div>
      </div>
      <div class="dashboard-column is-3">
        <div class="chart-board">
          <area-chart
            :datasets="chartData"
            :labels="chartLabels"></area-chart>
        </div>
      </div>
    </div>
    <div class="dashboard-columns">
      <div class="dashboard-column small">
        <div class="chart-board">
        <component :is="chartType"
          :datasets="chartData"
          :labels="chartLabels"></component>
        </div>
      </div>
      <div class="dashboard-column small">
        <div class="chart-board">
        <component :is="chartType"
          :datasets="chartData"
          :labels="chartLabels"></component>
        </div>
      </div>
      <div class="dashboard-column small">
        <div class="chart-board">
        <area-chart
          legend-label="months"
          :datasets="chartData"
          :labels="chartLabels"></area-chart>
        </div>
      </div>
      <div class="dashboard-column small">
        <div class="chart-board number-board">
          <number-chart
              title="recurring"
              number="98%"></number-chart>
        </div>
      </div>
      <div class="dashboard-column small">
        <div class="chart-board">
          <line-chart
            title="crazy"
            :chart-data="chartData2"
            :labels="chartLabels2"></line-chart>
        </div>
      </div>
    </div>
    <div class="dashboard-columns">
      <div class="dashboard-column large">
        <div class="chart-board">
          <bar-chart
            legend-label="months"
            :datasets="multipleSets"
            :labels="chartLabels"></bar-chart>
        </div>
      </div>
      <div class="dashboard-column large">
        <div class="chart-board">
          <bar-chart
            legend-label="months"
            :stacked="true"
            :datasets="multipleSets"
            :labels="chartLabels"></bar-chart>
        </div>
      </div>
    </div>
    <div class="dashboard-columns">
      <div class="dashboard-column is-6 medium">
        <div class="chart-board number-board">
          <number-chart
            number="$92,000"
            title="acv"></number-chart>
        </div>
      </div>
      <div class="dashboard-column is-6 medium">
        <div class="chart-board">
          <bar-chart
            legend-label="months"
            :stacked="false"
            :datasets="multipleSets"
            :labels="chartLabels"></bar-chart>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BarChart from './charts/BarChart.vue';
import HorzBarChart from './charts/HorzBarChart.vue';
import LineChart from './charts/LineChart.vue';
import AreaChart from './charts/AreaChart.vue';
import NumberChart from './charts/NumberChart.vue';

export default {
  name: 'HelloWorld',
  data() {
    return {
      chartType: BarChart,
      chartData: [4, 6, 5, 8, 7, 9],
      chartData2: [4, 16, 15, 18, 17, 19],
      multipleSets: [{
        data: [2, 2, 1, 4.5, 1, 2],
        label: 'Janice',
      }, {
        data: [6, 4, 3, 5, 6, 4],
        label: 'Harry',
      }, {
        data: [8, 9, 10, 12, 14, 6],
        label: 'Gerald',
      }],
      chartLabels: ['J', 'F', 'M', 'A', 'M', 'J'],
      chartLabels2: ['J2', '2F', 'M2', '2A', 'M2', '2J'],
      theme: {
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1.0)',
        borderWidth: 2,
      },
    };
  },
  components: {
    BarChart,
    HorzBarChart,
    LineChart,
    AreaChart,
    NumberChart,
  },
  methods: {
    changeType(chartType) {
      switch (chartType) {
        case 'HorzBarChart':
          this.chartType = HorzBarChart;
          break;
        case 'LineChart':
          this.chartType = LineChart;
          break;
        case 'AreaChart':
          this.chartType = AreaChart;
          break;
        default:
          this.chartType = BarChart;
      }
    },
  },
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../scss/charts.scss";

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 20px;
}
</style>
