.dashboard-columns {
  box-sizing: border-box;
  display: flex;
}

$h1margin: (21.4333 * 2);

canvas {
  height: 100% !important;
}

.dashboard-column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  padding: .75rem;

  .chart-board {
    padding: .75rem;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
  }

  .number-board {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @for $i from 1 through 12 {
    &.is-#{$i} {
      flex: none;
      width: percentage($i / 12);
    }
    &.is-offset-#{$i} {
      margin-left: percentage($i / 12);
    }
  }

  &.small {
    .chart-board {
      height: 100px;
      line-height: #{(100-$h1margin)}px;
    }

    .number-board {
      height: 124px;
    }
  }

  &.medium {
    .chart-board {
      height: 200px;
      line-height: #{(200-$h1margin)}px;
    }
    .number-board {
      height: 224px;
    }
  }

  &.large {
    .chart-board {
      height: 400px;
      line-height: #{(400-$h1margin)}px;
    }

    .number-board {
      height: 424px;
    }
  }
}